<h2>{{question.author}}'s Question:</h2>

<p>{{question.body}}</p>
<p>Notes: {{question.notes}}</p>

<button {{action 'delete' question}}>Delete</button>

<h3>Answers:</h3>

<ul>
  {{#each question.answers as |answer|}}
    <li>{{answer.author}}: {{answer.body}}</li>
  {{/each}}
</ul>
